body{
	text-align: center;
	background-image:url(Imagens/LogoAkatsuki.png);
}

h1{
	text-align: center;
	color:yellow;
	font-size:100px;
}

h2{
	text-align: center;
	color:red;
	font-size:70px;
}

th{
	font-size:25px;
	color: yellow;
}

td{
font-family: "Times New Roman", Times, serif;
color: black;	
text-align: center;
border: 5px solid ;	
}

p{
color: white;
}