body{
	text-align: center;
	background-image:url(Imagens/fund.jpg);
	
}

h1{
	text-align: center;
	color:yellow;
	font-size:100px;
}

h2{
	text-align: center;
	color:red;
	font-size:70px;
}

th{
	font-size:25px;
	color: yellow;
}

td{
font-family: "Times New Roman", Times, serif;
color: black;	
text-align: center;
border: 5px solid ;	
}

head{
	font-family: Broadway;
	color: #4287f5;	
	font-size: 50px;
}

li{
display: inline;
margin-left: 10%;
margin-right: 10%;
}

ul{
display: inline;
margin-left: 10%;
margin-right: 10%;
background-color: yellow;

}

